@model web_levanluong_64131236.Models.Discount

@{
    ViewBag.Title = "Thêm mã giảm giá";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Thêm mã giảm giá</h2>

@using (Html.BeginForm("Create", "Discounts_64131236", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.TenGiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenGiamGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenGiamGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LoaiGiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoaiGiamGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoaiGiamGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaTriGiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaTriGiamGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaTriGiamGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayBatDau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayKetThuc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Lưu</button>
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
<style>
    /* Tùy chỉnh form */
    .form-container {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        max-width: 600px;
        margin: auto;
    }

    /* Tiêu đề */
    h2 {
        font-family: 'Arial', sans-serif;
        color: #333;
        font-weight: bold;
    }

    /* Nút */
    button {
        padding: 10px 20px;
        border-radius: 5px;
    }

    /* Cảnh báo */
    .text-danger {
        font-size: 0.9em;
    }

</style>
