@model web_levanluong_64131236.Models.NhanVien
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container my-4">
    <div class="card shadow">
        <div class="card-header text-white">
            <h2 class="mb-0">Create New Employee</h2>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.MaNV, "Employee ID", new { @class = "form-label" })
                            @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.username, "Username", new { @class = "form-label" })
                            @Html.DropDownList("username", null, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Ho, "Last Name", new { @class = "form-label" })
                            @Html.EditorFor(model => model.Ho, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ho, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.Ten, "First Name", new { @class = "form-label" })
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.NgaySinh, "Birth Date", new { @class = "form-label" })
                            @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.NgayLamViec, "Start Date", new { @class = "form-label" })
                            @Html.EditorFor(model => model.NgayLamViec, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.NgayLamViec, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.DiaChi, "Address", new { @class = "form-label" })
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.DienThoai, "Phone", new { @class = "form-label" })
                            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<style>
    .card {
        border-radius: 15px;
        border: none;
    }

    .card-header {
        border-radius: 15px 15px 0 0 !important;
    }

    .form-control, .form-select {
        border-radius: 8px;
        padding: 10px;
    }

    .btn {
        padding: 8px 20px;
        border-radius: 6px;
    }

    .form-label {
        font-weight: 500;
    }
    .card-header {
        background: #F11623;
    }
</style>